---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Get Relevant Results",
    description:
      "Find Candidates that are relevant to a specific job offering.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Multiple Sources",
    description:
      "Gather information about candidates from LinkedIn, GitHub, Medium or other sites where the candidate is present.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "User-friendly UI",
    description:
      "Modern and intuitive UI to help with faster screening of candidates.",
    icon: "bx:bxs-data",
  },
  {
    title: "Save for later",
    description:
      "Save candidates into projects, so that you can go back to them later.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Always in sync",
    description:
      "Sync candidates with your other platforms. Import or Export lists of candidates.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Candidate Outreach",
    description:
      "Reach out to candidates directly through the platform",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Say goodbye to manually searching through resumes and profiles
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    TalentSight is designed to help you find the best candidates quickly and efficiently, enabling you to fill your open positions with the right talent.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-brand-green rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
